{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "transform-runtime",
        "add-module-exports",
        "dynamic-import-node"
    ],
    "ignore": [
        "core/templates"
    ]
}
