<!DOCTYPE html>
<% if (renderMetaFlag) { %>
<%= "\<% meta = meta.inject() %\>" %>
<html lang="zh_CN" data-vue-meta-server-rendered {{{ meta.htmlAttrs.text() }}}>
<% } else { %>
<html lang="zh_CN" data-vue-meta-server-rendered>
<% } %>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <% if (renderMetaFlag) { %>
        {{{ meta.title.text() }}}
        {{{ meta.meta.text() }}}
        {{{ meta.link.text() }}}
        {{{ meta.style.text() }}}
        {{{ meta.script.text() }}}
        {{{ meta.noscript.text() }}}
        <% } %>
        <% if (renderManifestFlag) { %>
        <!-- Add to home screen for Android and modern mobile browsers -->
        <link rel="manifest" href="/{{ config.webpack.shortcuts.assetsDir }}/manifest.json?v={{ config.buildVersion }}">
        <meta name="theme-color" content="{{ config.manifest.theme_color }}">
        <!-- Add to home screen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="{{ config.manifest.short_name || config.manifest.name }}">
        <link rel="apple-touch-icon" href="{{ config.manifest.icons && config.manifest.icons[0] && config.manifest.icons[0].src }}">
        <!-- Add to home screen for Windows -->
        <meta name="msapplication-TileImage" content="{{ config.manifest.icons && config.manifest.icons[0] && config.manifest.icons[0].src }}">
        <meta name="msapplication-TileColor" content="{{ config.manifest.theme_color}}">
        <% } %>

        {{{ renderResourceHints() }}}
        {{{ renderStyles() }}}

        <!-- @CUSTOM_HEAD@ -->
    </head>
    <% if (renderMetaFlag) { %>
    <body {{{ meta.bodyAttrs.text() }}}>
    <% } else { %>
    <body>
    <% } %>
        <!-- @CUSTOM_BODY_BEFORE@ -->

        <!--vue-ssr-outlet-->

        {{{ renderScripts() }}}
        {{{ renderState() }}}

        <%= "\<% if (isProd) { %\>" %>
        <script>
            window.onload = function () {
                var script = document.createElement('script');
                var firstScript = document.getElementsByTagName('script')[0];
                script.type = 'text/javascript';
                script.async = true;
                script.src = '/sw-register.js?v=' + Date.now();
                firstScript.parentNode.insertBefore(script, firstScript);
            };
        </script>
        <%= "\<% } %\>" %>

        <!-- @CUSTOM_BODY_AFTER@ -->
    </body>
</html>

