@import 'normalize.css';
@import '@/assets/css/material-icons.css';

html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
